<% content_for :head do %>
  <%= stylesheet_link_tag 'questions/show', media: 'all' %>
<% end %>

<div class="Question_pop">
  <img class="question-image" alt="Question_pop" src="/assets/Question_pop.png">
  <div class="question_text">
    <%= @question.question_text %>
  </div>
</div>

<div class="YESNO_answer">
  <% if @next_question %>
    <%= link_to question_path(@next_question, choice: 'YES') do %>
      <%= image_tag '/assets/YES.png', alt: 'YES' %>
    <% end %>
    <%= link_to question_path(@next_question, choice: 'NO') do %>
      <%= image_tag '/assets/NO.png', alt: 'NO' %>
    <% end %>
  <% else %>
    <p><%= link_to 'リザルトへ', results_path %></p>
  <% end %>
</div>
