<div class="top-image-container">
<img src="<%= '/assets/TOP.gif' %>" alt="TOP GIF" class="top-image">
  <%= link_to girudo_questions_path, class: 'play-button-container' do %>
    <%= image_tag 'PLAY.png', alt: '診断スタート', class: 'play-image' %>
  <% end %>
  
  <div class="kiyaku-privacy">
    <br><%= link_to "▼ 利用規約", riyoukiyaku_path %></br>
    <br><%= link_to "▼ プライバシーポリシー", privacy_policy_path %></br>
  </div>
</div>