<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="UTF-8">

 <%# モバイルなどの小さい画面を持つデバイスでウェブページを表示する際に、ビューポートの設定を指定するためのHTMLメタタグ %>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <%# 羽画像 %>
  <div class="hane">
    <img src="/assets/hane.gif" alt="hane.gif">
  </div>


  <%# 魔法少女の名称 %>
  <% if @job_profile.present? %>
    <div class="magical_girl_image_name">
      <%= image_tag @job_profile.image_url_magicalgirl_name, alt: 'Magical Girl Imagename' %>
    </div>
  <% end %>


  <%# 魔法少女のイメージ画像 %>
  <% if @job_profile.present? %>
    <div class="magical_girl_image_gazo">
      <%= image_tag @job_profile.image_url_magicalgirl_gazo, alt: 'Magical Girl Imagegazo' %>
    </div>
  <% end %>


  <%# 魔法少女の説明 %>
  <% if @job_profile.present? %>
    <div class="job_profile_content">
      <%= simple_format(@job_profile.content) %>
    </div>
  <% end %>


  <%# ステータス画像 %>
  <% if @job_profile.present? %>
    <div class="status">
      <%= image_tag @job_profile.status, alt: 'status.gif' %>
    </div>
  <% end %>


  <%# ステータスの説明 %>
  <div class="setsumei">
    <img src="/assets/Setsumei.png" alt="Setsumei.png">
  </div>


  <%# ライン画像 %>
  <div class="line">
    <img src="/assets/line.gif" alt="line.gif">
  </div>

  <%# 強みロゴ画像 %>
  <div class="tuyomi">
    <img src="/assets/tuyomi.gif" alt="tuyomi.gif">
  </div>

<%# スライドの外枠 %>
<div class="slide-wrapper">
  <%# スライド（コンテンツ） %>
  <div id="slide" class="slide">
    <% if @job_profile.present? %>
      
      <div>
        <%= simple_format(@job_profile.strengths) %>
      </div>

      <div>
        <%= simple_format(@job_profile.zyakuten) %>
      </div>

      <div>
        <p><%= simple_format(@job_profile.refresh) %></p>
      </div>

    <% end %>
  </div>


  <%# 左右のボタン %>
  <span id="prev" class="prev"></span>
  <span id="next" class="next"></span>


  <%# インジケーター %>
  <ul class="indicator" id="indicator">
    <li class="list"></li>
    <li class="list"></li>
    <li class="list"></li>
  </ul>
</div>

<div class="hukidashi">
  <img src="/assets/hukidashi.svg" alt="hukidashi.svg">
</div>

<div class="kemomimi_2">
  <img src="/assets/kemomimi_2.svg" alt="kemomimi_2.svg">
</div>


<%# ライン画像 %>
<div class="line">
  <img src="/assets/line.gif" alt="line.gif">
</div>




<a href="https://twitter.com/intent/tweet?text=私は★★に変身しました🌟&url=https://magical-girl-zero-027819c943b4.herokuapp.com/&hashtags=魔法少女Level0,まほゼロ,自己診断アプリ" target="_blank">Twitterでシェア</a>
<a target="_blank" href="https://x.com/share?url=https://magical-girl-zero-027819c943b4.herokuapp.com/&amp;text=私は★★に変身しました🌟%0a%0a %23魔法少女Level0 %23まほゼロ %23自己診断アプリ">結果を<i class="fa-brands fa-x-twitter"></i>シェアする</a>  

<a target="_blank" href="https://x.com/share?url=https://magical-girl-zero-027819c943b4.herokuapp.com/&amp;text=私は★★に変身しました🌟%0a%0a %23魔法少女Level0 %23まほゼロ %23自己診断アプリ">
  結果をシェアする
</a>

<a target="_blank" href="https://twitter.com/intent/tweet?url=https://magical-girl-zero-027819c943b4.herokuapp.com/&amp;text=私は★★に変身しました🌟%0a%0a %23魔法少女Level0 %23まほゼロ %23自己診断アプリ">
結果をシェアする
</a>

</body>
</html>