<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">

  <link rel="canonical" href="https://magical-girl-zero-027819c943b4.herokuapp.com">
  <meta property="og:site_name" content="JustBe U" />
  <meta property="og:title" content="ちいかわの好きなキャラ" />
  <meta property="og:description" content="うさぎです" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://magical-girl-zero-027819c943b4.herokuapp.com" />
  <meta property="og:image" content="https://raw.githubusercontent.com/tsumu-github/isekaijob/main/app/assets/images/ogp.png" />
  <meta property="og:local" content="ja-JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="https://raw.githubusercontent.com/tsumu-github/isekaijob/main/app/assets/images/ogp.png" />

  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- アプリケーションのスタイルシートを読み込むだけでなく、Turboフレームワークと連携してページの再読み込み時の動作を制御する -->
  <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <!-- モバイルなどの小さい画面を持つデバイスでウェブページを表示する際に、ビューポートの設定を指定するためのHTMLメタタグ -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- NES.css CDNリンク -->
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet">

  <!-- 外部のCSSファイルをリンク -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/results/show.css">

</head>

<body>
<a target="_blank" href="https://x.com/share?url=https://magical-girl-zero-027819c943b4.herokuapp.com/&amp;text=私は★★に変身しました🌟%0a%0a %23魔法少女Level0 %23まほゼロ %23自己診断アプリ">結果を<i class="fa-brands fa-x-twitter"></i>シェアする</a>

  <%# 羽画像 %>
  <div class="hane">
    <img src="/assets/hane.gif" alt="hane.gif">
  </div>


  <%# 魔法少女の名称 %>
  <% if @job_profile.present? %>
    <div class="magical_girl_image_name">
      <%= image_tag @job_profile.image_url_magicalgirl_name, alt: 'Magical Girl Imagename' %>
    </div>
  <% end %>


  <%# 魔法少女のイメージ画像 %>
  <% if @job_profile.present? %>
    <div class="magical_girl_image_gazo">
      <%= image_tag @job_profile.image_url_magicalgirl_gazo, alt: 'Magical Girl Imagegazo' %>
    </div>
  <% end %>


  <%# 魔法少女の説明 %>
  <% if @job_profile.present? %>
    <div class="job_profile_content">
      <%= simple_format(@job_profile.content) %>
    </div>
  <% end %>


  <%# ステータス画像 %>
  <% if @job_profile.present? %>
    <div class="status">
      <%= image_tag @job_profile.status, alt: 'status.gif' %>
    </div>
  <% end %>


  <%# ステータスの説明 %>
  <div class="setsumei">
    <img src="/assets/Setsumei.png" alt="Setsumei.png">
  </div>


  <%# ライン画像 %>
  <div class="line">
    <img src="/assets/line.gif" alt="line.gif">
  </div>

  <%# 強みロゴ画像 %>
  <div class="tuyomi">
    <img src="/assets/tuyomi.gif" alt="tuyomi.gif">
  </div>

<%# スライドの外枠 %>
<div class="slide-wrapper">
  <%# スライド（コンテンツ） %>
  <div id="slide" class="slide">
    <% if @job_profile.present? %>
      
      <div>
        <%= simple_format(@job_profile.strengths) %>
      </div>

      <div>
        <%= simple_format(@job_profile.zyakuten) %>
      </div>

      <div>
        <p><%= simple_format(@job_profile.refresh) %></p>
      </div>

    <% end %>
  </div>


  <%# 左右のボタン %>
  <span id="prev" class="prev"></span>
  <span id="next" class="next"></span>


  <%# インジケーター %>
  <ul class="indicator" id="indicator">
    <li class="list"></li>
    <li class="list"></li>
    <li class="list"></li>
  </ul>
</div>

<div class="hukidashi">
  <img src="/assets/hukidashi.svg" alt="hukidashi.svg">
</div>

<div class="kemomimi_2">
  <img src="/assets/kemomimi_2.svg" alt="kemomimi_2.svg">
</div>


<%# ライン画像 %>
<div class="line">
  <img src="/assets/line.gif" alt="line.gif">
</div>


<div class="job">
  <img src="/assets/job.gif" alt="job.gif">
</div>

  <% if @job_profile.present? %>
    <div class="job_profile_content">
      <%= simple_format(@job_profile.job) %>
    </div>
  <% end %>

<%# セリフ %>
<div class="serihu">
  <p>調べてみるといいかもしれないわね。</p>
</div>


<div class="hukidashi">
  <img src="/assets/hukidashi.svg" alt="hukidashi.svg">
</div>

<div class="kemomimi">
  <img src="/assets/kemomimi.svg" alt="kemomimi.svg">
</div>


<%# ライン画像 %>
<div class="line">
  <img src="/assets/line.gif" alt="line.gif">
</div>


<%# Xにシェア/再度診断 %>
<div class="return-X_buttun">
  <div class="return">
    <%= link_to root_path do %>
      <%= image_tag("return.gif", alt: "return.gif") %>
    <% end %>
  </div>
  <div class="X_buttun">
    <%= link_to root_path do %>
      <%= link_to "https://twitter.com/share?url=#{root_url}&text=【テスト】%0a%0a#{@job_profile.share_gazo}%0a%0a★試してみて★%0a", title: 'Twitter', target: '_blank' do %>
        <%= image_tag 'X_buttun.gif', alt: 'X_buttun.gif' %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="tyuuigaki">
  <p>※ 記載されている情報は、個人の調査に基づくものであり、専門家の意見や結果に基づいていないことをご了承ください。</p>
</div>

<p>あなたの結果は <%= @result.result_text %> です。合計ポイント: <%= session[:answers]['YES'] %></p>

<a href="https://twitter.com/intent/tweet?text=私は★★に変身しました🌟&url=https://magical-girl-zero-027819c943b4.herokuapp.com/&hashtags=魔法少女Level0,まほゼロ,自己診断アプリ" target="_blank">Twitterでシェア</a>
<a target="_blank" href="https://x.com/share?url=https://magical-girl-zero-027819c943b4.herokuapp.com/&amp;text=私は★★に変身しました🌟%0a%0a %23魔法少女Level0 %23まほゼロ %23自己診断アプリ">結果を<i class="fa-brands fa-x-twitter"></i>シェアする</a>  
</body>
</html>