<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- アプリケーションのスタイルシートを読み込むだけでなく、Turboフレームワークと連携してページの再読み込み時の動作を制御する -->
    <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tsumooon" />
    <meta name="twitter:title" content="魔法少女Level:0" />
    <meta name="twitter:description" content="魔法少女に変身・・・！自己診断アプリ" />
    <meta name="twitter:image" content="<%= 'https://raw.githubusercontent.com/tsumu-github/isekaijob/main/app/assets/images/ogp.png' %>">
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
